<style>
    /* Modal nhỏ, vị trí giống dropdown */
    .notif-modal-dialog {
        position: absolute;
        top: 60px; /* chỉnh theo vị trí bell */
        right: 130px; /* chỉnh theo layout */
        margin: 0;
        max-width: 450px;
    }

    #orderNotificationModal .modal-content {
        border-radius: 0.5rem;
        overflow: hidden;
    }

</style>
<div class="modal fade" id="orderNotificationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm notif-modal-dialog">
        <div class="modal-content shadow">
            <div class="modal-header p-2">
                <h6 class="modal-title">Thông báo đơn hàng</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-0">
                <ul id="notifList" class="list-group list-group-flush"></ul>
                <div class="text-center p-2" id="loadMoreContainer" style="display:none;">
                    <button id="loadMoreNotif" onclick="orderUser.loadMore()" class="btn btn-sm btn-outline-primary">
                        Xem thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/scripts.js"></script>
}